TAG=latest
NODE_ENV=production
TRUST_PROXY_HEADER=1

POSTGRES_USER=logto
# openssl rand -hex 32
POSTGRES_PASSWORD=<YOUR_PASSWORD>
POSTGRES_DB=logto_prod

DB_URL=postgres://<YOUR_USER>:<YOUR_PASSWORD>@postgres:5432/<YOUR_DB>

# 3001
ENDPOINT=https://auth.<YOUR_DOMAIN>
# 3002
ADMIN_ENDPOINT=https://console.<YOUR_DOMAIN>
